@import url('/css/main.css');

#caption,
#caption > span {
    display: flex;
    align-items: center;
}

.likes {
    margin-right: 1em;
}

#caption:not(:empty) .likes {
    margin-left: 1em;
}

.likes::before,
.dislikes::before {
    content: '';
    width: 1.25em;
    height: 1.25em;
    margin-right: .5em;
    background: url('') no-repeat center center;
    background-size: contain;
    filter: var(--svg-text);
}

.likes::before {
    background-image: url(/assets/icons/thumb-up.svg);
}

.dislikes::before {
    background-image: url(/assets/icons/thumb-down.svg);
}
